* {
  box-sizing: border-box;
}

.contact-logos-mobile {
  display: none;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  color: #131515;
  /* padding-top: 20px; */
  background-image: linear-gradient(
    to bottom left, 
    #30e8a1,
    #ecfeaa 25%,
    #5bc0eb 85%
  );
  background-size: cover;
  margin: 0px;
}


.name {
  display: flex;
  justify-content: left;
  /* flex-wrap: wrap; */
  height: 10vh;
  font-size: 100px;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 3px;
  /* margin-top: 10px; */
  /* padding-bottom: 20px;s */
  font-family: 'Bebas Neue', cursive;
}

.subtitle {
  padding-top: 25px;
  padding-left: 35px;
  font-size: 60px;
}

.page-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 20px 20px 0px;
  font-family: 'Roboto', sans-serif;
  color: #131515;
}

.projects {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  height: 80vh;
  width: 70%;
  margin-left: 40px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: left;
}

.projects-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  padding-top: 15px;
  margin-left: 20px;
}


.project-1 {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  /* align-items: center; */
  padding: 20px;
  /* border: 1px solid black; */
}

.project-2 {
  display: flex;
  /* border: 1px solid black; */
  justify-content: flex-end;
  /* align-items: center; */
  padding: 20px;
}

.project-3 {
  display: flex;
  /* border: 1px solid black; */
  justify-content: flex-end;
  /* align-items: center; */
  padding: 20px;
}

.project-4 {
  display: flex;
  /* border: 1px solid black; */
  justify-content: flex-end;
  /* align-items: center; */
  padding: 20px;
}

.project-image {
  width: 60%;
  height: 300px;
}

.project-name {
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  margin-bottom: 0px;
  margin-top: 15px;
}


p {
  font-size: 19px;
  text-align: start;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
}


.links {
  width: 180px;
  margin: 15px;
  padding-top: 2px;
  color: #131515;
  font-family: 'Bebas Neue', cursive;
  /* font-family: 'Roboto', sans-serif; */
  /* font-weight: 500; */
  letter-spacing: 0.5px;
  text-align: center;
  background-color: #ecfeaa;
}

.links:hover {
  transform: scale(1.07);
  font-weight: 500;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  height: 80vh;
  width: 30%;
  font-size: 45px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.about {
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  text-align: left;
  /* height: 20vh; */
  margin-top: 15px;
  margin-left: 45px;
  /* margin-bottom: 20px; */
}

.about-paragraph {
  margin: 0px 25px 5px;

}

.contact {
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* margin-bottom: 5px; */
}

.contact-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 50px;
  padding-top: 60px;
  margin-bottom: 5px;
  margin-left: 290px;
}

.contact-hover:hover {
  transform: scale(1.2)
}

.linkedin-logo {
  height: 50px;
  width: 50px;
  margin: 0px 15px;
}

.email-icon {
  height: 50px;
  width: 50px;
  margin: 0px 15px;
}

.devicon-github-plain {
  height: 50px;
  width: 50px;
  margin: 0px 15px;
}

.tech-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icons {
  display: flex;
  width: 85px;
  height: 75px;
  justify-content: center;
  align-items: center;
}



 .technologies {
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  text-align: left;
  margin-left: 45px;
 }


 @media only screen and (max-width: 840px) {

  .body {
    display: flex;
    height: 100vh;
    align-items: space-between;

  }

  .page-wrapper {
    margin-top: 10px;
    align-items: center;
  }
   .projects {
     display: none;
   }

   .about-wrapper {
     width: 100vw;
     height: 75vh;
   }

   .name {
     display: flex;
     justify-content: flex-start;
     font-size: 70px;
     flex-wrap: wrap;
   }

   .subtitle {
     font-size: 40px;
     padding-left: 5px;
     padding-top: 5px;
     /* align-self: flex-start; */
   }

   .contact-logos {
     display: none;
   }

   .contact-logos-mobile {
     display: flex;
     font-size: 35px;
     margin-left: 40px;
     align-items: center;
     /* padding-top: 40px; */
   }

   .linkedin-logo {
    height: 35px;
    width: 35px;
    margin: 0px 15px;
  }
  
  .email-icon {
    height: 35px;
    width: 35px;
    margin: 0px 15px;
  }

 }
