* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #131515;

  background-image: linear-gradient(
    to bottom left, 
    #30e8a1,
    #ecfeaa 25%,
    #5bc0eb 85%

  
  );
}


.name {
  display: flex;
  justify-content: center;
  font-size: 90px;
  text-align: center;
  margin-top: 10px;
  font-family: 'Bebas Neue', cursive;
}

.subtitle {
  padding-top: 25px;
  padding-left: 40px;
  font-size: 60px;
  text-align: center;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  z-index: 1;
  margin: 10px 20px;
  font-family: 'Roboto', sans-serif;
  color: #131515;
}

.projects {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  height: 850px;
  width: 70%;
  margin-left: 40px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-size: 40px;
  text-align: center;
}

.project-1 {
  border: 1px solid black;
  height: 100vh;
}

.project-2 {
  border: 1px solid black;
  height: 100vh;
}

.project-3 {
  border: 1px solid black;
  height: 100vh;
}

.project-4 {
  border: 1px solid black;
  height: 100vh;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  height: 850px;
  width: 30%;
  font-size: 40px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.about {
  text-align: center;
  height: 20vh;
  margin-top: 20px;
}

.contact {
  margin: 30px 5px 0px;
}

.contact-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.linkedin-logo {
  height: 40px;
  width: 40px;
}

.email-icon {
  height: 40px;
  width: 40px;
}

.devicon-github-plain {
  height: 40px;
  width: 40px;
}

.tech-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.icons {
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}



 .technologies {
   text-align: center;
 }





/* .contact {
  background-color: white;
  border: 2px solid black;
  height: 500px;
  width: 500px;
} */



