                /* this is a CSS comment */

body {
	background-color: rgb(255,255,255,0.65);
	/* background-image: url(../images/bg.jpg); */
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}
.main {
	background-color: rgba(255,255,255,0.65);
	/* box shadow = vertical, horizontal, transparency, size */
	/* box-shadow: 0px 0px 12px 5px oldlace; */
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
}


h1 {
	text-align: left;
	font-size: 48px;
	margin: 0;
	font-family: 'Josefin Slab', serif;
	/* text shadow = horizontal offset, vertical offset, size */
	text-shadow: 0 0 10px gray;
}
h2 {
	text-align: left;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 0;
}

h3 {
	margin-top: 0;
	cursor: pointer;
}

/* + finds next element * = whatever next element is */

h3 + * {
	display: none;
}

img {
	/* display: block;
	margin: 20px auto;
	border: 5px dotted yellow;
	border-radius: 10px 80px;
	width: 200px;
	transition: transform 0.5s; */
}
img:hover {
	transform: rotateZ(1800deg) scale(1.2);
}
/* transition on img affects hover and unhover. on img: hover it just affects the hover & not the unhover */

p,
ul,
ol {
	line-height: 1.6;
	list-style: none;
	padding-left: 0;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: lightcoral;
}
/* pseudo class */

a:hover,
a:focus {
	text-decoration: underline;
	color: limegreen;
	outline: none;
}
a:active {
	color: magenta;
}